<br>
<div style="float: left; margin-top: 20px; width: 39%;">
  <img alt="Mauricio Laine" src="../assets/img/mlaine.jpeg" width="200" height="200" />
</div>
## Mauricio Laine
#### Software Developer / Android
<a id="github-link" class="icon" aria-label="Visit Github Project"
  href="{{ site.mlaine }}">{% include svg/github.svg alt="Visit Github Project" %} </a>
<br>

Mauricio Laine is currently pursuing a Master's Degree in Computer Science & Engineering at the University of
Washington. Mauricio has been working in the field of mobile app development for the past five years. His current focus
is on machine learning mechanisms to identify objects in mobile applications.
<br>
<br>
<div style="float: left; width: 39%">
  <img alt="Mobile home page" src="../assets/img/osartori.jpeg" width="200" height="200" />
</div>

## Oscar Guerrero
#### Software Developer / Android
<a id="github-link" class="icon" aria-label="Visit Github Project"
  href="{{ site.osartori }}">{% include svg/github.svg alt="Visit Github Project" %} </a>

Oscar Guerrero is a Master's student in the Paul G. Allen School of Computer Science and Engineering at the University
of Washington. Oscar has more than nine years of professional experience. Also, solid knowledge understanding mobile
native development tools and ample expertise developing native Android apps.